body{
  font-family: 'Times New Roman', Times,serif, sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  border: #e8410e 
}

header {
  text-align: center;
  background-color: #343330;
  color:antiquewhite;
}

footer {
  background-color: #343330;
  text-align: center;
  color:antiquewhite;

}

.menu, aside {
  color: antiquewhite;
  width: 20%;
  background-color:rgb(14, 60, 14);
}



